<@using ThuVien.Areas.Manager.ViewModels
@model PhieuMuonIndexVm
@{
    ViewData["Title"] = "Danh sách phiếu mượn";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";

}
<!--Thêm phiếu mượn mới-->
<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#themPhieuMuon">Thêm phiếu mượn</button>
<div class="modal fade" id="themPhieuMuon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" width="100%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm độc giả</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="POST" asp-area="Manager" asp-action="Create" asp-controller="PhieuMuon">
                    <div class="form-group">
                        <label for="userID" asp-for="phieumuon.UserId">Mã nhân viên</label>
                        <input readonly="true" class="form-control" asp-for="phieumuon.UserId" id="userID"
                            placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="moDocGia" asp-for="phieumuon.MaDG">Mã độc giả</label>
                        <input class="form-control" asp-for="phieumuon.MaDG" id="maDocGia" placeholder="Mã độc giả">
                    </div>
                    <div class="form-group">
                        <label for="ngaymuon" asp-for="phieumuon.NgayMuon">Ngày mượn</label>
                        <input class="form-control" asp-for="phieumuon.NgayMuon" id="ngaymuon"
                            placeholder=@DateTime.Now>
                    </div>
                    <div class="form-group">
                        <input class="form-control" asp-for="phieumuon.TongPhiMuon" type="hidden">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@* Hiển thị danh sách phiếu mượn *@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách phiếu mượn</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Mã nhân viên</th>
                        <th>Mã độc giả</th>
                        <th>Ngày mượn</th>
                        <th>Tổng phí mượn</th>
                        <th>Thao tác</th>
                        <tr />
                </thead>
                <tbody>
                    @* @foreach (var phieumuon in Model.PhieuMuons)
                        {
                        <tr>
                        <td>@phieumuon.MaPM</td>
                        <td>@phieumuon.UserId</td>
                        <td>@phieumuon.MaDG</td>
                        <td>@phieumuon.NgayMuon</td>
                        <td>@phieumuon.TongPhiMuon</td>

                        <td>
                        <button class="btn btn-success" data-toggle="modal" data-target="#"><i class="far
                        fa-edit"></i></button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#"><i class="far
                        fa-trash-alt"></i></button>
                        </td>
                        </tr>
                        } *@
                    <!--Chỗ này cho chạy for nên phải sau data-target="#themCTPM-x"-->
                    <!--Chỗ này cho chạy for nên phải sau data-target="#xoaCTPM-x"-->
                    <!--Chỗ này cho chạy for nên phải sau data-target="#chitietCTPM-x"-->
                    @* @{x là @mapm} *@
                    <tr style="box-shadow: solid 0 0 10px #000000; ">
                        <td>PM001</td>
                        <td>NV001</td>
                        <td>DG001</td>
                        <td>20/11/2020</td>
                        <td>10.000đ</td>
                        <td>
                            <button class="btn btn-warning"  data-toggle="modal" data-target="#chitiet">Chi tiết</button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#xoaPM">Xóa</button>
                        </td>
                    </tr>
                    <!--Xóa phiếu mượn-->
                    <div class="modal fade" role="dialog" id="xoaPM">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Xác nhận xóa</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form action="">
                                        <!--cái này không nhớ thuộc tính lắm nên coi lại hộ-->
                                        <div class="form-group">
                                            <button class="btn btn-light" type="submit">Hủy</button>
                                            <button class="btn btn-success" type="submit">Xóa phiếu</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Thêm chi tiết-->
                    <div class="modal fade" role="dialog" id="themCTPM">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm phiếu mượn</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">
                                    <form action="">
                                        <div class="form-group">
                                            <label>Mã sách</label>
                                            <input class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>Ngày trả</label>
                                            <input type="date" class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>Ngày gia hạn</label>
                                            <input type="date" class="form-control" placeholder="">
                                        </div>
                                        <!--cái này không nhớ thuộc tính lắm nên coi lại hộ-->

                                        <div class="modal-footer">
                                            <button class="btn btn-light" type="submit">Hủy</button>
                                            <button class="btn btn-success" type="submit">Thêm phiếu</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" id="chitiet">
                        <div class="mobal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm phiếu mượn</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">
                                    <table>
                                        <thead>
                                            <th>Mã sách</th>
                                            <th>Ngày trả</th>
                                            <th>Ngày gia hạn</th>
                                            <th>Phí mượn</th>
                                            <th>Thao tác</th>
                                            <th><span></span></th>
                                        </thead>
                                        <!--Dây là bát đầu chạy vòng lặp for cho ctpm-->
                                        <tbody>
                                            <th>MS001</th>
                                            <th>22/11/2020</th>
                                            <th>/</th>
                                            <th>10.000đ</th>
                                            <!--Cái data-target ở đây cũng phải thêm vào cuối là -masach-->
                                            <th> <button class="btn btn-danger" data-toggle="modal"
                                                    data-target="#xoaCTPM">Xóa</button></th>
                                            <div class="modal fade" role="dialog" id="xoaCTPM">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Xóa chi tiết</h4>
                                                            <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="">
                                                                <div class="form-group">
                                                                    <button class="btn btn-light"
                                                                        type="submit">Hủy</button>
                                                                    <button class="btn btn-danger"
                                                                        type="submit">Xóa</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <th><span></span></th>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success " data-toggle="modal" data-target="#themCTPM">Thêm chi
                        tiết</button>
            </table>
        </div>
    </div>
</div>