@using ThuVien.Areas.Manager.ViewModels
@model DocGiaIndexVm
@{
    ViewData["Title"] = "Danh sách độc giả";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
    var tentlSort = (Model.SortOrder == "tentl") ? "tentl_desc" : "tentl";
}


<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#themDocGia">Thêm độc giả</button>
<div class="modal fade" id="themDocGia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm độc giả</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" asp-area="Manager" asp-action="Create" asp-controller="DocGia">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="hoDocGia" asp-for=docgia.HoDG>Họ độc giả</label>
                                <input class="form-control" id="maDocGia" asp-for=docgia.HoDG placeholder="Họ độc giả">
                            </div>
                            <div class="col">
                                <label for="tenDocGia" asp-for=docgia.TenDG>Họ độc giả</label>
                                <input class="form-control" asp-for=docgia.TenDG id="tenDocGia" placeholder="Tên độc giả">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DoB" asp-for=docgia.DoBDG>Ngày sinh</label>
                        <input class="form-control" asp-for=docgia.DoBDG id="DoB" placeholder="Ngày sinh">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" asp-for=docgia.EmailDG id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="diachi">Đia chỉ</label>
                        <input class="form-control" asp-for=docgia.DiaChiDG id="diachi" placeholder="Địa chỉ">
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="ngaydk">Ngày đăng ký</label>
                                <input class="form-control" asp-for=docgia.NgayDK id="ngaydk" placeholder=@DateTime.Now>
                            </div>
                            <div class="col">
                                <label for="ngayhethan" asp-for=docgia.NgayHetHanDK>Ngày hết hạn</label>
                                <input class="form-control" asp-for=docgia.NgayHetHanDK id="ngayhethan" placeholder=@DateTime.Now.AddYears(1)>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách độc giả</h6>
    </div>
    <div class="card-body">
        <form method="GET" id="formTiemKiem">
            <div class="form-group">
                <input type="text" asp-for="SearchString" />
                <input class="btn btn-primary" type="submit" value="Tìm kiếm" />
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã độc giả</th>
                        <th>Họ</th>
                        <th>
                            <a asp-route-sortOrder="@tentlSort"
                               asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.DocGias[0].TenDG)
                            </a>
                        </th>
                        <th>Ngày sinh</th>
                        <th>Email</th>
                        <th>Địa Chỉ</th>
                        <th>Ngày đăng ký</th>
                        <th>Ngày hết hạn</th>
                        <td><input id="checkAllItem" type="checkbox"></td>
                    <tr />
                </thead>
                <tbody>
                    @foreach (var docgia1 in Model.DocGias)
                    {
                        <tr>
                            <td>@docgia1.MaDG</td>
                            <td>@docgia1.HoDG</td>
                            <td>@docgia1.TenDG</td>
                            <td>@docgia1.DoBDG</td>
                            <td>@docgia1.EmailDG</td>
                            <td>@docgia1.DiaChiDG</td>
                            <td>@docgia1.NgayDK</td>
                            <td>@docgia1.NgayHetHanDK</td>

                            <td>
                                <a data-toggle="modal" data-target="#xoaDocGia-@docgia1.MaDG" asp-route-id="@docgia1.MaDG">Xóa</a>
                                <a data-toggle="modal" data-target="#capnhapDocGia-@docgia1.MaDG" asp-route-id="@docgia1.MaDG">Cập nhật</a>
                            </td>
                        </tr>
                        <div class="modal fade" id="xoaDocGia-@docgia1.MaDG" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm độc giả</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" asp-area="Manager" asp-action="Delete" asp-controller="DocGia">
                                            
                                            <input type="text" asp-for="@docgia1.MaDG" asp-route-id="@docgia1.MaDG" value="@docgia1.MaDG" />
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                            <a asp-action="Index">Back to list</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="capnhapDocGia-@docgia1.MaDG" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm độc giả</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" asp-area="Manager" asp-action="Update" asp-controller="DocGia">
                                            <div class="form-group">
                                                <label for="maDocGia">Mã độc giả</label>
                                                <input disabled class="form-control disabled" id="maDocGia" value="@docgia1.MaDG" placeholder="Mã độc giả">
                                            </div>
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <label for="hoDocGia" asp-for=@docgia1.HoDG>Họ độc giả</label>
                                                        <input class="form-control" id="hoDocGia" value="@docgia1.HoDG" asp-for=@docgia1.HoDG placeholder="Họ độc giả">
                                                    </div>
                                                    <div class="col">
                                                        <label for="tenDocGia" asp-for=@docgia1.TenDG>Họ độc giả</label>
                                                        <input class="form-control" asp-for=@docgia1.TenDG value="@docgia1.TenDG" id="tenDocGia" placeholder="Tên độc giả">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="DoB" asp-for=@docgia1.DoBDG>Ngày sinh</label>
                                                <input class="form-control" asp-for=@docgia1.DoBDG value="@docgia1.DoBDG" id="DoB" placeholder="Ngày sinh">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input class="form-control" asp-for=@docgia1.EmailDG value="@docgia1.EmailDG" id="email" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="diachi">Đia chỉ</label>
                                                <input class="form-control" asp-for=@docgia1.DiaChiDG value="@docgia1.DiaChiDG" id="diachi" placeholder="Địa chỉ">
                                            </div>
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <label for="ngaydk">Ngày đăng ký</label>
                                                        <input class="form-control" asp-for=@docgia1.NgayDK value="@docgia1.NgayDK" id="ngaydk" placeholder=@DateTime.Now>
                                                    </div>
                                                    <div class="col">
                                                        <label for="ngayhethan" asp-for=@docgia1.NgayHetHanDK>Ngày hết hạn</label>
                                                        <input class="form-control" asp-for=@docgia1.NgayHetHanDK  value="@docgia1.NgayHetHanDK.ToString("dd/MM/yyyy")" id="ngayhethan" placeholder=@DateTime.Now.AddYears(1)>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-success">Sửa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.DocGias.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.DocGias.HasNextPage ? "disabled" : "";
}
<a class="btn btn-default @prevDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.DocGias.PageIndex -1)">Previous</a>
<a class="btn btn-default @nextDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.DocGias.PageIndex +1)">Next</a>