@using ThuVien.Areas.Manager.ViewModels
@model DocGiaIndexVm
@{
    ViewData["Title"] = "Danh sách độc giả";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
    var tentlSort = (Model.SortOrder == "tentl") ? "tentl_desc" : "tentl";
}


<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#themDocGia">Thêm độc giả</button>
<div class="modal fade" id="themDocGia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm độc giả</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" asp-area="Manager" asp-action="Create" asp-controller="DocGia">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="hoDocGia" asp-for=docgia.HoDG>Họ độc giả</label>
                                <input class="form-control"  asp-for=docgia.HoDG placeholder="Họ độc giả">
                            </div>
                            <div class="col">
                                <label for="tenDocGia" asp-for=docgia.TenDG>Họ độc giả</label>
                                <input class="form-control" asp-for=docgia.TenDG  placeholder="Tên độc giả">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DoB" asp-for=docgia.DoBDG>Ngày sinh</label>
                        
                        <input class="form-control" asp-for=docgia.DoBDG placeholder="@DateTime.Now">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" asp-for=docgia.EmailDG placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="diachi">Đia chỉ</label>
                        <input class="form-control" asp-for=docgia.DiaChiDG placeholder="Địa chỉ">
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            @{ Model.docgia.NgayDK = DateTime.Now;
                                Model.docgia.NgayHetHanDK = DateTime.Now.AddYears(1);}
                            <div class="col">
                                <label for="ngaydk" asp-for=docgia.NgayDK>Ngày đăng ký</label>
                                <input class="form-control" asp-for=docgia.NgayDK placeholder="@Model.docgia.NgayDK" >
                            </div>
                            <div class="col">
                                <label for="ngayhethan" asp-for=docgia.NgayHetHanDK>Ngày hết hạn</label>
                                <input class="form-control" asp-for=docgia.NgayHetHanDK  placeholder="@Model.docgia.NgayHetHanDK">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách độc giả</h6>
    </div>
    <div class="card-body">
        <form method="GET" id="formTiemKiem">
            <div class="form-group">
                <input type="text" asp-for="SearchString" />
                <input class="btn btn-primary" type="submit" value="Tìm kiếm" />
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã độc giả</th>
                        <th>Họ</th>
                        <th>
                            <a asp-route-sortOrder="@tentlSort"
                               asp-route-searchString="@Model.SearchString">
                                @Html.DisplayNameFor(model => model.DocGias[0].TenDG)
                            </a>
                        </th>
                        <th>Ngày sinh</th>
                        <th>Email</th>
                        <th>Địa Chỉ</th>
                        <th>Ngày đăng ký</th>
                        <th>Ngày hết hạn</th>
                        <td><input id="checkAllItem" type="checkbox"></td>
                    <tr />
                </thead>
                <tbody>
                    @foreach (var docgia in Model.DocGias)
                    {
                        <tr>
                            <td>@docgia.MaDG</td>
                            <td>@docgia.HoDG</td>
                            <td>@docgia.TenDG</td>
                            <td>@docgia.DoBDG</td>
                            <td>@docgia.EmailDG</td>
                            <td>@docgia.DiaChiDG</td>
                            <td>@docgia.NgayDK</td>
                            <td>@docgia.NgayHetHanDK</td>

                            <td>
                                <a data-toggle="modal" data-target="#xoaDocGia-@docgia.MaDG">Xóa</a>
                                <a data-toggle="modal" data-target="#capnhapDocGia-@docgia.MaDG">Cập nhật</a>
                            </td>
                        </tr>
                        <div class="modal fade" id="xoaDocGia-@docgia.MaDG" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm độc giả</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" asp-area="Manager" asp-action="Delete" asp-controller="DocGia">

                                            <input asp-for="@docgia.MaDG"/>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                        <a asp-action="Index">Back to list</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="capnhapDocGia-@docgia.MaDG" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm độc giả</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" asp-area="Manager" asp-action="Update" asp-controller="DocGia">
                                            <div class="form-group">
                                                <label asp-for="@docgia.MaDG">Mã độc giả</label>
                                                <input readonly="readonly" class="form-control" value="@docgia.MaDG" placeholder="Mã độc giả">
                                            </div>
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <label asp-for="@docgia.HoDG">Họ độc giả</label>
                                                        <input class="form-control" value="@docgia.HoDG" asp-for="@docgia.HoDG" placeholder="Họ độc giả">
                                                    </div>
                                                    <div class="col">
                                                        <label  asp-for="@docgia.TenDG">Họ độc giả</label>
                                                        <input class="form-control" asp-for="@docgia.TenDG" value="@docgia.TenDG"  placeholder="Tên độc giả">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="DoB" asp-for="@docgia.DoBDG">Ngày sinh</label>
                                                <input class="form-control" asp-for="@docgia.DoBDG" value="@docgia.DoBDG" placeholder="Ngày sinh">
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@docgia.EmailDG">Email</label>
                                                <input class="form-control" asp-for="@docgia.EmailDG" value="@docgia.EmailDG"  placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="diachi" asp-for="@docgia.DiaChiDG">Đia chỉ</label>
                                                <input class="form-control" asp-for=@docgia.DiaChiDG value="@docgia.DiaChiDG"  placeholder="Địa chỉ">
                                            </div>
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <label for="ngaydk">Ngày đăng ký</label>
                                                        <input class="form-control" asp-for=@docgia.NgayDK value="@docgia.NgayDK" placeholder="@docgia.NgayDK">
                                                    </div>
                                                    <div class="col">
                                                        <label for="ngayhethan" asp-for=@docgia.NgayHetHanDK>Ngày hết hạn</label>
                                                        <input class="form-control" asp-for=@docgia.NgayHetHanDK  value="@docgia.NgayHetHanDK" placeholder="@docgia.NgayHetHanDK">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-success">Sửa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.DocGias.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.DocGias.HasNextPage ? "disabled" : "";
}
<a class="btn btn-default @prevDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.DocGias.PageIndex -1)">Previous</a>
<a class="btn btn-default @nextDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.DocGias.PageIndex +1)">Next</a>