@using ThuVien.ViewModels
@model IndexViewModel

@{
    ViewData["Title"] = "Sách";
    var tenSachSort = (Model.SortOrder == "tensach") ? "tensach_desc" : "title";
    var theLoaiSort = (Model.SortOrder == "theloai") ? "theloai_desc" : "title";
    var tacGiaSort = (Model.SortOrder == "tacgia") ? "tacgia_desc" : "title";
    var nhaXuatBanSort = (Model.SortOrder == "nhaxuatban") ? "nhaxuatban_desc" : "title";
    var giaBiaSort = (Model.SortOrder == "giabia") ? "giabia_desc" : "title";
    var viTriSort = (Model.SortOrder == "vitri") ? "vitri_desc" : "title";
}

<h1>Sách</h1>

<form method="GET">
    <p>
        <select asp-for="TheLoaiSach" asp-items="Model.TheLoais">
            <option value="">Tất cả</option>
        </select>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-route-sortOrder="@tenSachSort"
                   asp-route-movieGenre="@Model.TheLoaiSach"
                   asp-route-searchString="@Model.SearchString">
                    @Html.DisplayNameFor(model => model.Sachs[0].TenSach)
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@theLoaiSort"
                   asp-route-movieGenre="@Model.TheLoaiSach"
                   asp-route-searchString="@Model.SearchString">
                    @Html.DisplayNameFor(model => model.Sachs[0].TheLoai)
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@tacGiaSort"
                   asp-route-movieGenre="@Model.TheLoaiSach"
                   asp-route-searchString="@Model.SearchString">
                    @Html.DisplayNameFor(model => model.Sachs[0].TacGia)
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@nhaXuatBanSort"
                   asp-route-movieGenre="@Model.TheLoaiSach"
                   asp-route-searchString="@Model.SearchString">
                    @Html.DisplayNameFor(model => model.Sachs[0].NhaXuatBan)
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@giaBiaSort"
                   asp-route-movieGenre="@Model.TheLoaiSach"
                   asp-route-searchString="@Model.SearchString">
                    @Html.DisplayNameFor(model => model.Sachs[0].GiaBia)
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@viTriSort"
                   asp-route-movieGenre="@Model.TheLoaiSach"
                   asp-route-searchString="@Model.SearchString">
                    @Html.DisplayNameFor(model => model.Sachs[0].ViTri)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sach in Model.Sachs)
        {
            <tr>
                <td>@sach.TenSach</td>
                <td>@sach.TheLoai</td>
                <td>@Html.DisplayFor(item => sach.TacGia)</td>
                <td>@Html.DisplayFor(item => sach.NhaXuatBan)</td>
                <td>@Html.DisplayFor(item => sach.GiaBia)</td>
                <td>@Html.DisplayFor(item => sach.ViTri)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@sach.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@sach.Id">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@sach.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Sachs.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Sachs.HasNextPage ? "disabled" : "";
}

<a class="btn btn-default @prevDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-movieGenre="@Model.TheLoaiSach"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.Sachs.PageIndex -1)">Trước</a>
<a class="btn btn-default @nextDisabled"
   asp-route-sortOrder="@Model.SortOrder"
   asp-route-movieGenre="@Model.TheLoaiSach"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.Sachs.PageIndex +1)">Sau</a>